## Build results
[Bb]in/
[Oo]bj/

## Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/

## Build artifacts
*.dll
*.exe
*.pdb
*.cache

## Logs
*.log

## OS files
.DS_Store
config.local.json
PGEmu/games/GameCube/._WWE Day of Reckoning (USA) (Rev 1)
PGEmu/games/GameCube/WWE Day of Reckoning (USA) (Rev 1)/._Vimm's Lair.txt
PGEmu/games/GameCube/WWE Day of Reckoning (USA) (Rev 1)/._WWE Day of Reckoning (USA) (Rev 1).ciso
PGEmu/games/GameCube/WWE Day of Reckoning (USA) (Rev 1)/Vimm's Lair.txt
PGEmu/games/GameCube/WWE Day of Reckoning (USA) (Rev 1)/WWE Day of Reckoning (USA) (Rev 1).ciso

#idk what this is
._*
