## Build results
[Bb]in/
[Oo]bj/

## Visual Studio cache/options
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Rider
.idea/

## Build artifacts
*.dll
*.exe
*.pdb
*.cache

## Logs
*.log

## OS files
.DS_Store
